<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <div class="row">
          <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="col-md-3">
                      <div class="navbar-header">
                          <% if user_signed_in? %>
                          <div class="hovereffect">
                              <a class="navbar-brand" href="/users/edit">
                            <%= content_tag :a, class: "navbar-brand" do %>
                                 <%= image_tag (current_user.avatar_url), class: "img-responsive" %>
                            <%end%>
                              </a>     
                                 <div class="overlay"><h2>Edit Profile</h2><a class="info" href="/users/edit"></a></div>
                              
                          </div>
                      </div>
                  
          </div>
          <div class="col-md-6">
              <ul class="nav nav-tabs nav-justified">
                  <li><%= link_to "Blocitoff", welcome_index_path %></li>
                  <li><%= link_to "About", welcome_about_path %></li>
              </ul>
          </div>
          <div class="col-md-3">
              <div class="pull-right user-info">
                 Signed in as: <strong><%= current_user.username %></strong> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
             
                  <% else %>
                  <div class="btn-group" role="group" aria-label="...">
                     <button type="button" class="btn btn-default"><%= link_to "Sign In", new_user_session_path %></button>
                     <button type="button" class="btn btn-default"><%= link_to "Sign Up", new_user_registration_path %></button>
                  </div>
                  <% end %>
              </div>
          </div>
          </div>
          </nav>
      </div>
      
    
    <div class="flash">
       <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash.now[:alert] %>
         <div class="alert alert-danger">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash.now[:alert] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>
     </div>
   
    <%= yield %>
    
    
    
    
  </div>

</body>
</html>
